.header{
   background-color: gray;
   position: fixed;
   top:0px;
   width:100%;
   left:0
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    list-style:none;
    color:white;
    display:flex;
    justify-content: space-around;
    width:30%;
font-size:25px;
}
.content-pub{
    margin-top:200px;
    display:flex;
    justify-content: space-around;
}
button{
    border:none;
    font-size:25px
}
button:hover{
    background-color:blue;
    cursor: pointer;
}
.card{
    width:400px;
    text-align:center;
    margin-bottom: 20px;
}
.cards{
    width:1000px;
    margin:100px auto 20px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:40px;
    border-radius:10px;
    box-shadow:10px 10px 10px 5px gray
}


